# Stock Market Analysis

A stock market represents the claims of companies and individuals on the shares of public companies. The prices of these shares vary depending on various factors, including inflation, demand, and reputation.

Buying and selling stocks is a major business, and people keep trying to predict the future stock behavior to earn large paybacks on their investments.

In this data analysis project, we try to analyze the data of various stocks to obtain valuable information. This information provides insights on which stocks generate more returns.

> **Note:** There is no program in the world that can correctly predict future stock behavior. The techniques covered in this project only allow us to make an educated guess based on the previous behavior of a particular stock.

**We will try to answer the following questions after doing stock market data analysis:**

1. How much did the stock price of each company change over time?

2. What were the daily returns for all the companies?

3. How are the stocks of the companies related to each other?

4. How much money do we risk losing by investing in a certain company?

5. Can we predict future stock behavior?

**Letâ€™s look up the stocks data for Systems Ltd.**

In [1]:
import pandas as pd

sys = pd.read_csv('data/year_2018/SYS.csv')

sys.head()

          Time   Open  High    Low  Close  Volume
0  Jan 1, 2018  75.50  75.5  75.00  75.00    4000
1  Jan 2, 2018  74.85  76.0  73.11  75.32  197500
2  Jan 3, 2018  74.03  74.6  72.30  72.75   21000
3  Jan 4, 2018  71.03  74.5  71.03  74.01  381500
4  Jan 5, 2018  74.35  77.0  71.00  76.52  180500